<?xml version="1.0" encoding="utf-8" ?>
<siteconfig>
  <!--网站域名-->
  <sitedomain>http://localhost:1620/</sitedomain>
  <!--数据库链接字符串 mssql-->
  <dbpath>~/data/db.config</dbpath>
  <!--文件后缀-->
  <filesuffix>.html</filesuffix>
  <!--水印 类型type(0,表示不使用，1表示文本 ,2表示图片) 文本text(如果类型为文本，则text设置是水印文本，如果是图片，则为图片地址) 位置status(1=左上 2=中上 3=右上 4=左中 5=中中 6=右中 7=左下 8=中下 9=右下)-->
  <watermark type="2" text="~/Backend/images/watermark.gif" status="9"></watermark>
  <!--Cookie域-->
  <cookiedomain></cookiedomain>
  <!--Cookie名称-->
  <cookiename>jjyxjlb</cookiename>
  <!--Cookie信息加密附加字符-->
  <cookieencryptionsalt>jjyxjlbsalt</cookieencryptionsalt>
  <!--后台登录认证码,注意：区分大小写-->
  <backendauthenticatecode>jjyxjlb11</backendauthenticatecode>
</siteconfig>
