<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_MI.Properties.Settings.StudentManagerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=StudentManager;Persist Security Info=True;User ID=dbuser;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>