body {
	background-color: #f5faff;
	margin-left:3px;
	margin-top:8px;
}
table {
	background-color: #c3d9ee;
}
th {
	background-color: #f3f6ff;
	color: #306DA5;
	font-size: 12px;
	line-height: 20px;
	background-image: url(../images/thbg.gif);
}

td {
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.ltable {
	background-color: #66667e;
}
.ltableth {
	color: #FFFFFF;
	font-size: 14px;
	height:22px;
	background-image: url(../Comm_images/ltablethbg.gif);
}
.ltabletd {
	border:1px solid #437baf;
	background-color: #437baf;
}
textarea {
	background-color: #eaf0ff;
	border: 1px solid #6f8bde;
}

.textcss {
	background-color: #FFFFFF;
	border: 1px solid #437baf;
	background-image: url(../Comm_images/inputbg2.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height:17px;
	width:160px;
}

.bluebutton
{
 border:1px solid #437baf;
 background:url(../Comm_images/inputbg.gif);
height:20px;
width:55px;
font:normal 12px ו;
color:#fff;
    
}

.gvitem
{
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.gvhead
{
    background-color: #f3f6ff;
	color: #306DA5;
	font-size: 12px;
	line-height: 20px;
	background-image: url(../images/thbg.gif);
}
