html,body {margin:0; padding:0;height:93.5%;width:100%;
font:12px "ו";
}
div,ul,li{
padding:0;
text-align:center;
}

.left{ float:left;}
.right{ float:right;}
.clear{clear:both;}
.f_14{ font-size:14px}
.black{ color:black; }
.bold{font-weight:bold;}
.green{color:#739242;}
.Hundred{ width:100%;}
/* */
.main {width:100%;height:100%;text-align:left;
border:1px solid #A8C29F; }
.main_right {width:320px;background:#FFF;}
.main_left {
	height:100%;
	background-color: #E8F3F5; background-image:url(../images/dt.gif);
}
.main_left ol{ background-color:#F0FFEC;width:100%; line-height:24px; 
margin:0 auto;
border-top:1px solid #fff; 
border-bottom:1px solid #A8C29F;  
}
.main_left li{ float:left;}
.main_left li.dz{padding-left:30px;background:url(../images/dz.gif) no-repeat left bottom;
}
.picBox {
 width:9px;
 background:#E5F1E0 url(../images/right.gif) no-repeat center center; 
 border-left:1px solid #A8C29F;
 border-right:1px solid #A8C29F; 
}
.main_right,.picBox {float:right;height:100%; _margin-right:-3px; }

/* */
.main_02 {width:100%;height:100%;text-align:left;}
.main_right_02{width:180px;background:green;}
.main_left_02{
	height:100%;
	background-color: #black;
}
.picBox_02 {
 width:9px;
 background:#337ABB url(../images/right_02.gif) no-repeat center center;
}
.main_right_02,.picBox {float:right;height:100%; _margin-right:-3px; }


/* */
#header{width:100%;}
#header img{ border:none;}
#header a:link{
color:#5E7D33;
text-decoration:none;
}
#header a:visited {
color: #5E7D33;
text-decoration:none;
}
#header a:hover {
color: #FF5F00;
text-decoration:underline;
}
.Bg{ 
background-image: url(../images/HeaderBg.gif);
background-repeat: repeat-x; width:40%; 
height:4px;
}
.Bg02{ 
background-image: url(../images/HeaderBg02.gif );
background-repeat: repeat-x; width:59.9%; 
height:4px; border-right:1px solid #A8C29F;  

}
a.g:link{
color:#5E7D33;
text-decoration:none;
}
a.g:visited {
color: #5E7D33;
text-decoration:none;
}
a.g:hover {
color: #FF5F00;
text-decoration:underline;
}
#header a.h:link{
color:#FF5F00;
text-decoration:none;
}
#header a.h:visited {
color: #FF5F00;
text-decoration:none;
}
#header a.h:hover {
color: #FF5F00;
text-decoration:underline;
}
.logo img{ padding-bottom:10px;}
.topnav{ width:360px; float:right;line-height:22px;}
.topnav li{ float:left;padding:0 8px;}
.topnav li.ly{ padding-left:16px;background:url(../images/ly.gif) no-repeat left center;}
.topnav li.bz{padding-left:16px;background:url(../images/bz.gif) no-repeat left center;}

.logo{ float:left;}
.nav02{float:left; width:227px;height:23px;}
.nav02 li{float:left;padding:9px 3px 0 3px;}
.nav03{float:right; width:220px;background:url(../images/RgtToBarBg.gif) no-repeat right bottom;
 width:762px; height:27px;}
.nav03 li{float:left;
padding:9px 10px 0 4px ;
}
.nav03 li.qc{padding-left:16px;background:url(../images/qc.gif) no-repeat left bottom;}
.nav03 li.yy{padding-left:16px;background:url(../images/yy.gif) no-repeat left bottom;}
.nav03 li.gx{padding-left:16px;background:url(../images/gx.gif) no-repeat left bottom;}
.nav03 li.hc{padding-left:16px;background:url(../images/hc.gif) no-repeat left bottom; }
p.height{ line-height:23px; width:210px;}
/* */
a:link{
color:#00F;
text-decoration:none;
}
a:visited {
color: #00F;
text-decoration:none;
}
a:hover {
color: #c00;
text-decoration:underline;
}
ul{list-style:none;}
/*  */
#Tab1{
width:99.4%;
padding:0px;
margin-top:5px;
margin-left:2px;
margin-right:2px;
 }

/*2*/
#Tab2{
width:100%;
padding:0px;
margin-top:5px;
margin-left:5px;
margin-right:5px; 
 }
 
/*class*/
.Menubox {
width:100%;
background:url(../images/200801081251340.gif) repeat-x left top; 
height:24px;
line-height:24px;/*??*/
 
}
.Menubox02{background:url(../images/200801081251341.gif);

}
.Menubox ul{
margin:0px;
padding:0px;
}
.Menubox li{
float:left;
display:block;
cursor:pointer;
width:77px;
text-align:center;
color:#636363;
font-weight:bold; padding-top:2px;
}
.Menubox li.hover{
padding:0px;
background:#fff;
width:75px;
border-left:1px solid #A8A8A8;/*???*/
border-top:1px solid #A8A8A8;/*???*/
border-right:1px solid #A8A8A8;/*???*/
background:url(../images/200801081249070.gif);
color:black;/*????*/
font-weight:bold;
height:23px;
line-height:26px; /*??*/
}
.Menubox02 li.hover{background:url(../images/200801081249070.gif);

}
.Contentbox{
clear:both;
margin-top:0px;
border:1px solid #A0A0A0;/*????*/
border-top:none;
text-align:center;
padding-top:8px;
}
/*  */
.p02{ padding:0 6px;}
.img img{ padding-left:22px;}
.p02 p{text-align:left; margin:0; padding:0; }
.p03{ line-height:25px;}
ul.li li{}
.input02 input{BORDER: #A8C29F 1px solid; 
background-color:#F8FFF8;margin-bottom:5px;
}
.xx{border-top: 1px dashed #A8C29F; }

A.Arrow1 {
PADDING-LEFT: 12px; BACKGROUND: url(../Images/Arrow1.gif) no-repeat left 3px; MARGIN: 0px 60px 0px 0px
}
.OptionCloseBtn {
	DISPLAY: block; RIGHT: 3px; BACKGROUND: url(../Images/CloseBtn1.gif) no-repeat left top; OVERFLOW: hidden; WIDTH: 10px; CURSOR: hand; POSITION: absolute; TOP: 7px; HEIGHT: 9px
}
.OptionCloseBtn:hover {
	BACKGROUND-POSITION: left -11px;
}
.MoveArrow{
	RIGHT: 5px;
	position:absolute;
	TOP: 166px;
	left: 1235px;
	width: 26px;
}
