<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  <!-- <add name="connstr" connectionString="server=.;database=BookTest;uid=sa;pwd=1234"/> -->
    <add name="connstr" connectionString="server=ws101\SQLExpress;database=BookTest;integrated security=SSPI"/>
  
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
