<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UpLoad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="OrclConnStr" value="Data Source=oracle;User ID=xiaobing;Password=xiaobing;Persist Security Info=True"/>
  </appSettings>
  <userSettings>
    <UpLoad.Properties.Settings>
      <setting name="关于作业系统" serializeAs="String">
        <value>关于作业系统</value>
      </setting>
      <setting name="上传作业" serializeAs="String">
        <value>产品名称：上传作业</value>
      </setting>
      <setting name="V1" serializeAs="String">
        <value>版本：V1.0</value>
      </setting>
      <setting name="鹿贵兵" serializeAs="String">
        <value>版权：鹿贵兵</value>
      </setting>
      <setting name="中国地质大学" serializeAs="String">
        <value>公司名称：中国地质大学</value>
      </setting>
      <setting name="我的上传作业" serializeAs="String">
        <value>说明：我的上传作业。</value>
      </setting>
    </UpLoad.Properties.Settings>
  </userSettings>
</configuration>